<section ><div class="container-fluid">
    <div class="row">
    <div class="col-xs-4"><a  class="btn btn-primary" href="../../docs/Resume_Ashish_Kumar.pdf" download>Download PDF format</a>


    </div>

    <div class="resheader"><a class="btn github" href="http://www.github.com/axeish"><i class="fa fa-github"></i></a>
        <a class="btn linkedin" href="http://www.linkedin.com/in/axeish "><i class="fa fa-linkedin"></i></a>
    </div>
    </div>
        </div>
</div></section>
<section>

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">

                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-margin-top w3-large ax-text-primary"></i>Software Engineer, Web Developer</p>
                        <p><i class="fa fa-home fa-fw  w3-large ax-text-primary"></i>Boston, USA</p>
                        <p><i class="fa fa-envelope fa-fw  w3-large ax-text-primary"></i>kumar.as@husky.neu.edu</p>
                        <p><i class="fa fa-phone fa-fw  w3-large ax-text-primary"></i>+1|8574157534</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right ax-text-primary"></i>Skills</b></p>
                        <h6 class="ax-text-primary">Front-End Web</h6>
                        <p>JavaScript(including React, AngularJS, Gulp.js, NodeJS), CSS3, HTML5, Bootstrap</p>
                        <h6 class="ax-text-primary">Back-End Web</h6>
                        <p>Python(expert),java(basic),C(basic), MySQL,Mongodb</p>
                        <h6 class="ax-text-primary">Tools</h6>
                        <p>Eclipse, Adobe Creative Suite, Webstorm
                        </p>
                        <h6 class="ax-text-primary">Networks</h6>
                        <p>TCP/IP, UDP, VoIP, ITU-T-H.248, Cryptography</p>
                        <h6 class="ax-text-primary">Others</h6>
                        <p>GIT, AWS, Photoshop, Illustrator, Wireshark</p>

                        <!--<p>Adobe Photoshop</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:90%">
                                <div class="w3-center w3-text-white">90%</div>
                            </div>
                        </div>
                        <p>Photography</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:80%">
                                <div class="w3-center w3-text-white">80%</div>
                            </div>
                        </div>
                        <p>Illustrator</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:75%">
                                <div class="w3-center w3-text-white">75%</div>
                            </div>
                        </div>
                        <p>Media</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:50%">
                                <div class="w3-center w3-text-white">50%</div>
                            </div>
                        </div>-->
                        <br>

                        <!--<p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right ax-text-primary"></i>Languages</b></p>
                        <p>English</p>
                        <div class="w3-progress-container w3-round-xlarge">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:100%"></div>
                        </div>
                        <p>Spanish</p>
                        <div class="w3-progress-container w3-round-xlarge">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:55%"></div>
                        </div>
                        <p>German</p>
                        <div class="w3-progress-container w3-round-xlarge">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:25%"></div>
                        </div>-->
                        <br>
                    </div>
                </div>
                <br>
                    <div class="w3-container w3-card-2 w3-white">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge ax-text-primary"></i>Education</h2>

                        <div class="w3-container">
                            <h5 class="w3-opacity"><b> Northeastern University,Boston</b></h5>
                            <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2017</h6>
                            <p>Master of Science in Computer Science</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Visvesvaraya Technological University, Bengaluru, </b></h5>
                            <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                            <p>Bachelor of Engineering in Computer Science and Engineering
                            </p><br>
                        </div>
                    </div>
                <br>




                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge ax-text-primary"></i>Work Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Teaching Assistant / Northeastern University,Boston,US</b></h6>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - <span class="w3-tag ax-primary w3-round">Current</span></h6>
                        <p>TA for Managing Software Development (CS5500 Spring 17) taken by Prof. Michael Weintraub. I did setup initial infrastructure for class lab using: Atlassian Confluence,
                            Jira, Slack, Jenkins etc.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Internet Prorocol OS Engineering Intern / Ericsson, San Jose,US</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - Aug 2016</h6>
                        <p>Developed Yvcloud, a tool to automate developer workflow including building VMware cloud topologies, keys
                            generation, image installation and configuration setup for each node using Python.
                         </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Software Engineer / Aricent, Gurgaon,India</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2011 - June 2014</h6>
                        <p>Integrated Regression and Traffic tests into existing Python automation framework for media access gateway and automated new scenarios that conforms to H248/MEGACO Architecture </p>
                        <p>Implemented supporting features and performed debugging for Voice over IP media access gateway controller
                        </p><br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b> Graphic Designer / Freelancer,Bangalore,India</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                        <p>•	Worked as freelance graphic designer and developed designs for various emerging startups &university events
                        </p>   <br>
                    </div>
                </div>
                <br>


                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge ax-text-primary"></i>Academic Projectss</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Media Licensing Lab (Java, Angular JS, MySQL)</b></h6>
                            <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - <span class="w3-tag ax-primary w3-round">Current</span></h6>
                            <p>Developed an online portal that will enable the students to send invites to any –musician or band to upload their compositions with associated metadata for future licensing. The project would be the first licensing lab run by students in USA</p>
                            <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Union Capital Boston prototype(AngularJS, CSS)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - Aug 2016</h6>
                        <p>Developed a mobile friendly web interface for a non-profit organization Union Capital Boston after evaluating the interface with continuous user feedback through iterative interview session and brainstorming ideas based on material design</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Secure Instant Messenger(Python, AES, RSA, SRP</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2011 - June 2014</h6>
                        <p>Proposed and implemented a secure instant messaging system using the Secure Remote Protocol (SRP) for client server remote authentication</p><br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b> Ashart Website(HTML5, CSS3,JS)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                        <p>Responsive project that works on Artsy API to get detailed information of famous artists and their artwork. The application also let users search for art or artist by keyword
                        </p>   <br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b> Spaceship Game(Python)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                        <p>Developed an interactive single player shooting game using concepts of Physics, Python and Object Oriented Programming </p>   <br>
                    </div>
                </div>


                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>







</section>