<div class="container-fluid">
    <section >
    <div class="row">
    <div class="col-xs-4"><a  class="btn btn-primary" href="../../docs/Resume.pdf" download>Download PDF format</a>


    </div>

    <div class="resheader"><a class="btn github" href="http://www.github.com/axeish"><i class="fa fa-github"></i></a>
        <a class="btn linkedin" href="http://www.linkedin.com/in/axeish "><i class="fa fa-linkedin"></i></a>
    </div>
    </div>

</section>
<section>

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey profilediv ">

                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-margin-top w3-large ax-text-primary"></i>DevOps Engineer, Web Developer</p>
                        <p><i class="fa fa-home fa-fw  w3-margin-right w3-large ax-text-primary"></i>San Francisco, USA</p>
                        <p><i class="fa fa-envelope fa-fw  w3-margin-right w3-large ax-text-primary"></i>axeishkr@gmail.com</p>
                        <p><i class="fa fa-phone fa-fw  w3-margin-right w3-large ax-text-primary"></i>+1|8574157534</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right ax-text-primary"></i>Skills</b></p>
                        <h6 class="ax-text-primary">Programming Languages</h6>
                        <p>Python, Scala, C, SQL,
                        </p>
                        <h6 class="ax-text-primary">Web Technologies</h6>
                        <p>ES6, Webpack, React.js, AngularJS, Node.js, Django,Ruby on Rails , Rest AP
                        </p>
                        <h6 class="ax-text-primary">Tools</h6>
                        <p>Elasticsearch, Sidekiq, Redis, Ansible, Kafka, MapD, AWS, GIT, Adobe Creative Suite</p>


                        <!--<p>Adobe Photoshop</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:90%">
                                <div class="w3-center w3-text-white">90%</div>
                            </div>
                        </div>
                        <p>Photography</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:80%">
                                <div class="w3-center w3-text-white">80%</div>
                            </div>
                        </div>
                        <p>Illustrator</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:75%">
                                <div class="w3-center w3-text-white">75%</div>
                            </div>
                        </div>
                        <p>Media</p>
                        <div class="w3-progress-container w3-round-xlarge w3-small">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:50%">
                                <div class="w3-center w3-text-white">50%</div>
                            </div>
                        </div>-->


                        <!--<p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right ax-text-primary"></i>Languages</b></p>
                        <p>English</p>
                        <div class="w3-progress-container w3-round-xlarge">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:100%"></div>
                        </div>
                        <p>Spanish</p>
                        <div class="w3-progress-container w3-round-xlarge">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:55%"></div>
                        </div>
                        <p>German</p>
                        <div class="w3-progress-container w3-round-xlarge">
                            <div class="w3-progressbar w3-round-xlarge ax-primary" style="width:25%"></div>
                        </div>-->
                    <br><br>
                    </div>
                </div>

                <br>
                    <div class="w3-container profilediv w3-white">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge ax-text-primary"></i>Education</h2>

                        <div class="w3-container">
                            <h5 class="w3-opacity"><b> Northeastern University, Boston</b></h5>
                            <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2017</h6>
                            <p>Master of Science in Computer Science</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Visvesvaraya Technological University, Bengaluru</b></h5>
                            <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                            <p>Bachelor of Engineering in Computer Science and Engineering
                            </p><br>
                        </div>
                    </div>
                <br>




                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container profilediv w3-white ">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge ax-text-primary"></i>Work Experience</h2>

                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Jam City</b>, San Francisco,US</h5>
                        <h5 class="w3-opacity"><i>Customer Engineer</i></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2017 - Present</h6>
                        <li>Design and coding of new organizational architecture and helping define the strategic direction for customer service
                        </li>
                        <li>Deploy and configure AI powered platform in gaming customer service.</li>
                        <li>Automating tools and building scripts in Python for improving efficiency and workflow  </li>
                    <li>Started with a one man team and constantly learning new tools and technology and proposing valid changes </li>
                    <li>Designing support website for Jam City Games using Javascript, CSS, HTML, Sass</li>
                        <li>Hired, supervised and provided remote training for outsourcing team that grew from 1-10 staff
                        </li>
                        <hr>
                    </div>


                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Ericsson</b>, San Jose,US</h5>
                        <h5 class="w3-opacity"><i>Internet Prorocol OS Engineering Intern</i></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - Aug 2016</h6>
                        <li>Developed automation tool using python to automate IPOS developer workflow (includes creation of VMWare Cloud topologies, image installation and configuration setup) which increased productivity by 75 %
                        </li>
                        <li>Designed and developed plugin for C-Lang format, integrating it with Git commands.</li>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b> Aricent</b>, Gurgaon,India</h5>
                        <h5 class="w3-opacity"><i>Software Engineer </i></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2011 - June 2014</h6>
                        <li>Proposed and developed Python automation framework for VoIP system for European network operator, Keymile. </li>
                        <li>Experience in feature development & maintenance for VoIP Media/Access Gateway automated calls that conforms to H248/MEGACO protocol based architecture.
                        </li><br>
                    </div>
                    <hr>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Additional Experience </b></h5>

                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2011</h6>
                        <li>Teaching Assistant at Northeastern University for graduate course Managing Software Development</li>
                        <li>Freelancer Graphic Designer, developed designs for around 50+ </li>
                        <li>Developed many personal self-initiated projects that is available in GitHub</li><br>
                    </div>
                </div>
                <br>
<!--
                <div class="w3-container profilediv w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge ax-text-primary"></i>Academic Projects</h2>

                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Service Learning Tool (React.js, Python)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - May 2017</h6>
                        <p>Develop a time-tracker mobile app for the Service Learning department. I work on developing the admin feature (backend as well as frontend, using Python and React.js) to generate a filterable report about the students involved in the service learning.
                            </p>
                        <hr>
                    </div>


                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Media Licensing Lab (Java, Angular JS, MySQL)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2016 - Dec 2016<span class="w3-tag ax-primary w3-round">Current</span></h6>
                        <p>Developed an online licensing lab through which musicians can be invited to upload their compositions with associated metadata for licensing. Exposed to full lifecycle of an AngularJS based web application development.</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Union Capital Boston prototype (AngularJS, CSS)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - Aug 2016</h6>
                        <p>Developed a mobile friendly web interface for non-profit Union Capital Boston after evaluating the interface with continuous user feedback through iterative interview session and brainstorming ideas based on material design</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Secure Instant Messenger (Python, AES, RSA, SRP)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2011 - June 2014</h6>
                        <p>Proposed and implemented a secure instant messaging system using the Secure Remote Protocol (SRP) for client server remote authentication</p><br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b> Ashart Website (HTML5, CSS3,JS)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                        <p>Responsive project that works on Artsy API to get detailed information of famous artists and their artwork. The application also let users search for art or artist by keyword
                        </p>   <br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b> Spaceship Game (Python)</b></h5>
                        <h6 class="ax-text-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                        <p>Developed an interactive single player shooting game using concepts of Physics, Python and Object Oriented Programming </p>   <br>
                    </div>
                </div>
-- >

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>







</section>
</div>