
<div class="wrapper">

<section><div class="container-fluid">



    <div class="row vertical-align">

        <div class="col-sm-3  ">

            <img class="profile" src="/Axeish.github.io/Images/12.jpg"></div>


      <!--  <div class="col-md-3 img about"><div class="picture1"></div></div>-->
        <div class="col-sm-9 vcenter">
            <div class="row">
                <div class="w3-white w3-text-grey profilediv w3-row-padding w3-container">
                    <br><br>
                <div class=" w3-margin-right w3-margin-left">
                <p>Hi,</p><p>
                I am <i>Ashish Kumar</i>, I am currently focussing on Development profile with keen interest in AI and  Machine Learning</p>

                <p>I have extensive experience in software design and Scripting. I love developing web projects, tutorial projects, blogging tools etc. Learning new stuff and experimenting drives me. I use programing to do my everyday activity like reminders, organizer, calendar, todo stuff etc.. and some of these projects are available on my github for anyone to use it freely. I believe Automation is the best thing technology has given us.  <p>

                <p>Other than that I love illustrating a lot. Art is fun :). I enjoy travelling and mixing up with various culture as much as possible.
            </p>
                <p>     </p>
                    <br><br>
                </div>
                </div>

            </div>
            <br>
            </div>
        <div class="row">
            <div class="col-sm-1  "></div>
            <div class="col-sm-10  ">
                <div class="social-btns">
                    <a class="btn facebook" href="http://www.facebook.com/ashish.kumar.sunny"><i class="fa fa-facebook"></i></a>
                    <a class="btn instagram" href="http://www.instagram.com/axeish"><i class="fa fa-instagram"></i></a>
                    <a class="btn github" href="http://www.github.com/axeish"><i class="fa fa-github"></i></a>
                    <a class="btn linkedin" href="http://www.linkedin.com/in/axeish "><i class="fa fa-linkedin"></i></a>
                    <a class="btn envelope" href="#/"><i class="fa fa-envelope"></i></a>
                </div></div>
            <div class="col-sm-1  "></div>
        </div>
    </div>

</section>




</div>
<!--

<div class="jumotron">
    <div class="container text-center   ">
        <div class="about">

        </div>

        <p>Hi,
            I am Ashish Kumar, I am doing my masters in computer science at Northeastern University ,
            Boston. Before joining here I have worked with Aricent for three years. I have taken web development
            course this semester and I am really excited about learning various tools and concepts of web development.
            I love travelling and Sketching in my free time. I hope you like my website</p>


    </div>
</div>

-->
