
<div class="wrapper">

<section><div class="container-fluid">



    <div class="row vertical-align">

        <div class="col-sm-4  ">
            <div class="profilediv"></div>
            <img class="profile" src="/Axeish.github.io/Images/12.jpg"></div>

        <div class="col-sm-1 vcenter"></div>
      <!--  <div class="col-md-3 img about"><div class="picture1"></div></div>-->
        <div class="col-sm-7 vcenter">
            <div class="row">
                <p>Hi,</p><p>
                I am <i>Ashish Kumar</i>, I am currently pursuing a Master's in Computer Science
                at Northeastern University and expecting graduation by May 2017. My focus
                is on Web App development and Python programming.</p>

                <p>Currently, I am working as a Teaching Assistant for a graduate course
                    (CS5500: Managing Software Development) under Professor Michael Weintraub.<p>

                <p>I have worked as IPOS Engineering intern at Ericsson where I worked extensively
                on Python programming developing automation tool. Prior to that, I have experience
                of 3+ years with leading MNC's where I was responsible for Development and Testing of
                latest VoIP software. I also have experience of freelance Graphic designer and Illustrator
                which definitely speaks about my strong aptitude towards graphics and creativity.
            </p>
                <p>    I love solving software challenges and I am always working on side application
                    development projects. I am looking for an opportunity that will make best use of skills
                    and equally challenging for me </p></div>


            </div>
        <div class="row">
            <div class="col-sm-1  "></div>
            <div class="col-sm-10  ">
                <div class="social-btns">
                    <a class="btn facebook" href="http://www.facebook.com/ashish.kumar.sunny"><i class="fa fa-facebook"></i></a>
                    <a class="btn instagram" href="http://www.instagram.com/axeish"><i class="fa fa-instagram"></i></a>
                    <a class="btn github" href="http://www.github.com/axeish"><i class="fa fa-github"></i></a>
                    <a class="btn linkedin" href="http://www.linkedin.com/in/axeish "><i class="fa fa-linkedin"></i></a>
                    <a class="btn envelope" href="#/"><i class="fa fa-envelope"></i></a>
                </div></div>
            <div class="col-sm-1  "></div>
        </div>
    </div>

</section>




</div>
<!--

<div class="jumotron">
    <div class="container text-center   ">
        <div class="about">

        </div>

        <p>Hi,
            I am Ashish Kumar, I am doing my masters in computer science at Northeastern University ,
            Boston. Before joining here I have worked with Aricent for three years. I have taken web development
            course this semester and I am really excited about learning various tools and concepts of web development.
            I love travelling and Sketching in my free time. I hope you like my website</p>


    </div>
</div>

-->
