

<div class="jumbotron">
    <div class="container text-center">
        <H1>Ashish Kumar</H1>
        <p>hire me</p>

    </div>
</div>
    <div>{{message.Dob}}</div>

    <img src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >
    <img ng-src="{{message.Profile}}" height="200" width="100" >

