<div class="container">
    <div class="row">
        <section>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div class = "project" >
                            <div class="thumbnail">

                                <img src="../../Images/p11.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>Ashart Gallery</h3>
                                    <p>...</p>
                                    <p><a href="http://www.codeskulptor.org/#user42_3wDoNtm20t_1.py" class="btn btn-primary" role="button">View Project</a></p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class = "project">

                            <div class="thumbnail"><img src="../../Images/p31.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>Python Spaceship Games</h3>
                                    <p>...</p>
                                    <p><a href="http://www.codeskulptor.org/#user42_3wDoNtm20t_1.py" class="btn btn-primary" role="button">Play Game</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class = "project">

                            <div class="thumbnail"><img src="../../Images/p21.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>ucb</h3>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Link?</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class = "project">
                            <div class="thumbnail"><img src="../../Images/p41.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>MLL</h3>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Link?</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>

    </div>
</div>