<div class="container">
    <div class="row">
        <section>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class = "project" >
                            <div class="thumbnail">

                                <img class="proj-img" src="Images/p11.png" height="180" width="320"/>

                                <div class="caption">
                                    <h3>Ashart Gallery</h3>
                                    <p><a href="http://net4.ccs.neu.edu/home/ashish9/project/default.aspx" class="btn btn-primary" role="button">View Project</a></p>

                                </div>
                                <div class="caption project-desc">

                                    <p>a simple art gallery that uses Artsy API to fetch famous art works and artists profile.a simple art gallery that uses Artsy API to fetch famous art works and artists profile.a simple art gallery that uses Artsy API to fetch famous art works and artists profile</p>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class = "project">

                            <div class="thumbnail"><img class="proj-img" src="Images/p31.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>Spaceship</h3>
                                    <p><a href="http://www.codeskulptor.org/#user42_3wDoNtm20t_1.py" class="btn btn-primary" role="button">Play Game</a> </p>

                                </div>

                                <div class="caption project-desc">

                                    <p>Completely Python based asteroid spaceship game</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class = "project">

                            <div class="thumbnail"><img class="proj-img" src="Images/p21.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>UCB prototype</h3>
                                    <p><a href="https://github.com/Axeish/Union-Capital-Boston-Prototype" class=" btn btn-primary" role="button">Link</a></p>
                                </div>

                                <div class="caption project-desc">

                                    <p>Developed a mobile friendly web interface for non-profit Union Capital Boston after evaluating the interface with continuous user feedback through iterative interview session and brainstorming ideas based on material design
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class = "project">
                            <div class="thumbnail"><img class="proj-img" src="Images/p41.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>Media Licensing Lab</h3>
                                    <p><a href="https://github.com/Axeish/MLL" class="btn btn-primary" role="button">Link</a>
                                        <a href="https://youtu.be/qyz5RjIpMXY" class="btn btn-primary" role="button">Demo</a></p>
                                </div>

                                <div class="caption project-desc">

                                    <p>Developed an online portal that will enable the students to send invites to any musician or band to upload their compositions with associated metadata for future licensing. The project would be the first licensing lab run by students in USA</p>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class = "project">
                            <div class="thumbnail"><img class="proj-img" src="Images/p51.png" height="180" width="320"/>
                                <div class="caption">
                                    <h3>Turtle secure chat</h3>
                                    <p><a href="https://github.com/Axeish/chat" class="btn btn-primary" role="button">Link</a>
                                    </p>
                                </div>
                                <div class="caption project-desc">

                                    <p>Implementatin(Python) of the Secure Remote Protocol (SRP) and Needham- Schroeder public key protocol. Algorithm includes AES 256 (CBC Mode), RSA 2048 bit, HMAC</p>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>

    </div>
</div>