<div class="container-fluid">

    <div class="row w3-white w3-text-grey w3-card-4">
        <div class="col-sm-4"><img class="art" src="  ">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>

        </div>
            <div class="row">
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>

            </div>
    </div>
    </div>

    <br>

    <div class="row w3-white w3-text-grey w3-card-4">
        <div class="col-sm-4"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>
                <div class="col-xs-2"><img class="art" src="https://lh3.googleusercontent.com/gt-stuRen3s9nKsQufTXRL-pc4LWGgo7B3ux3wRbpYEjEpXhi0N7WjvEzWO0ELpOGMHe6h5fWEDbZh8af82pT2AX5Rd6lTXHIrNvVGhr5KFsexrt-aUIr5jZNIwvaGaX76BskQ  ">
                </div>

            </div>
        </div>
    </div>
