<div class="container-fluid">
    <section >
        <div class="row">
            <div class="col-sm-3"><button type="button" class="btn btn-primary" ng-click="ctrl.open('myModalContent.html')">Artist Journey</button></div>
            <div class="col-sm-3"><button type="button" class="btn btn-primary" ng-click="ctrl.listctrl('f')">Folkish</button></div>
            <div class="col-sm-3"><button type="button" class="btn btn-primary" ng-click="ctrl.listctrl('q')">Quill</button></div>
            <div class="col-sm-3"><button type="button" class="btn btn-primary" ng-click="ctrl.listctrl('A')">AllArt</button></div>

        </div>
           <!-- <div class = "col-xs-4 w3-white">            <div ng-show="ctrl.selected">Currently Viewed: {{ ctrl.selected }}</div>
                <div class="modal-parent"></div></div>-->
        <!--
            <div class="resheader"><a class="btn github" href="http://www.github.com/axeish"><i class="fa fa-github"></i></a>
                <a class="btn linkedin" href="http://www.linkedin.com/in/axeish "><i class="fa fa-linkedin"></i></a>
            </div>
        -->
    </section>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" >Art</h3>
        </div>
        <div class="modal-body" >
            <p>
                Fascinated by an ability to create a world of my own, Art is something I do in my free time.
            </p>
            <p> I am a self taught artist and still learning. Here i have shared most of my works including sketches,
                digital vector art, digital painting, traditional painting as well as my quilling paper cut craftworks.
            RIght now mainly focussing on creating graphics for web as well as learnign anatomy for digital painitng.
            </p>
            <p>
                Inspiration: I have been lot inspired by instagram/tumblr artists. There is lot of talents all around.
                I will put refernece links soon.
            </p>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
        </div>
    </script>



    <br>
    <!-- Scripts-->
    <script type="text/ng-template" id="Artmodal.html">
        <div class="modal-header">
            <h3 class="modal-title" >
              {{ctrl.arttitle}}
            </h3>
        </div>
        <div class="modal-body w3-black" >
            <ul><!--
                <li ng-repeat="item in ctrl.artitems">
                    <a href="#" ng-click="$event.preventDefault(); ctrl.selected.item = item">
                        {{ctrl.id}}

                        <img src="{{ ctrl }}"></a>

                </li>-->
                <button id="prev" class="navbttn" ng-click="ctrl.prev()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                <img id="show" src="{{ctrl.artitems[ctrl.id]}}" >
                <button id="next" class="navbttn" ng-click="ctrl.next()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>

            </ul>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">Close</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
        </div>
    </script>

    <br>
    <div  class="row w3-black w3-text-grey w3-card-4 hj">

                <div  class = " col-sm-4 nopadding" ng-repeat="x in ctrl.artitems">
                    <div class=" frame-square " ng-click="ctrl.open('Artmodal.html',$index)">
                        <div class="crop">

                        <img class="art" src={{x}}>
                    </div>
                    </div>
                </div>
        <div  class = " col-sm-4 nopadding" ng-repeat="x in ctrl.artitems">
            <div class=" frame-square " ng-click="ctrl.open('Artmodal.html',$index)">
                <div class="crop">

                    <img class="art" src={{x}}>
                </div>
            </div>
        </div>
        <div  class = " col-sm-4 nopadding" ng-repeat="x in ctrl.artitems">
            <div class=" frame-square " ng-click="ctrl.open('Artmodal.html',$index)">
                <div class="crop">

                    <img class="art" src={{x}}>
                </div>
            </div>
        </div>
    </div>

    <br>



</div>
